1/create a file named 'config'
2/put the file into ~/.ssh
3/put this config into the 'config' file:

Host alternative_name
	Hostname your_host_public_ip_address
	user username
	Port your_port
	IdentityFile path_to_.pem_key

Host alternative_name
	Hostname your_host_public_ip_address
	user username
	Port your_port
	IdentityFile path_to_.pem_key
